

%article#article{itemscope: '', itemtype: 'http://schema.org/Article'}
	.heroTitle
		%postContent
			%p
				%b= category
				|
				%span
					%span.eta
				read time
		%h1{ itemprop: 'headline'}
			= @title
	.hero
		.headingImage
			%img{src: @imageUrl, description: @imageTitle}
	.container.main#article
		.postContent
			.heading{itemscope: '', itemtype: 'http://schema.org/Person', itemprop: 'author'}
				.author-image
					%img{src: @authorPhoto, description: @imagePhotoTitle}
				%p
					%b{itemprop: 'name'}
						= @authorName
				%p{itemprop: 'description'}
					= @authorBiography
			.main{itemprop: 'articleBody'}

				%h2= @subtitle
				= Markdown.new(@body).to_html

				.social
					.sharethis-inline-reaction-buttons
					.sharethis-inline-share-buttons


				.tags
					%b= tags




	.discuss
		- if @comments === true
			%button{ :class => "discussions", :onclick => "toggle_visibility('comments')"} Discussion
			.comments#comments{itemscope: '', itemtype: 'http://schema.org/Comment'}

				= disqus
				= disqus_count
		- else @comment === false
			%h2 Comments Disabled







